@font-face {
  font-family: 'Keep Calm';
  src: url(keep_calm.ttf)
  format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */   
}

@font-face {
font-family: 'Proxima Nova';
src: url("Proxima_Nova_Regular.otf") format("opentype");
}

/* Button */
button{
    border-radius: 0px;
    background:transparent;
    font-size: 1em;
    font-family: 'Proxima Nova';
    border: solid 1px #2e2e2e;
    padding:8px 25px;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    color: #2e2e2e;
}

button:hover{
    background: #2e2e2e;
    color: #fff;
}

/*Tile Styling*/
.tile{
    background-color: #eee;
    width:97%;
    height:60%;
    margin:0px;
    left:0;
    right:0;
    padding-left: 3%;
    border-top: 
}

.tile img{
    height:60%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.tile:nth-child(even) img{
    -webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
    float:right;
    position:absolute;
    right:0;
}

.tile:nth-child(odd) img{
    -webkit-clip-path: polygon(0% 0, 45% 0, 100% 100%, 0% 100%);
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
    float:left;
    position:absolute;
    left:0;
}

.tile:nth-child(even) h1{
    float:left;
    margin-right: 80%;
}

.tile:nth-child(even) p{
    float:left;
    margin-right: 55%;
}

.tile:nth-child(even) button{
    float:left;
}

.tile h1{
    font-family: 'Proxima Nova';
    font-size: 4em;
    color: #2e2e2e;
    margin-bottom: 0px;
}

.tile p{
    width: 55%;
    font-size: 1.4em;
    font-family: 'Proxima Nova';
}
/*End Tile Styling*/

/*NavBar Styling*/
#header_wrapper {
    width:100%;
    position:fixed;
    z-index:10;
}

#header {
    height:3.7%;
    margin:auto;
    margin-top: 50px;
}

#header ul {
    margin:0 auto;
    width:810px;
    padding:12px;
    list-style: none;
}

#header li {
    float: left;
}

#header a {
    padding:0 24.9px;
    text-align:center;
    display:block;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: 'Proxima Nova';
}    

    
#header ul li a.logo {
    background: url(images/logo4.png);
    background-repeat:no-repeat;
    background-size: contain;
    height:140px;
    display:block;
    width:215px;
    margin-top:-41px;
    padding: 0;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
     content: "";
  clear: both;
  display: table;
}
/*End Navbar Stying*/

#cover{
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 100;
    opacity: 1;
}

#darkness{
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 0;
    opacity: 0.8;
}

#logo{
    height: auto;
    width: 50%;
    padding-top: 10%;
    opacity: 0.9;
    z-index: 10;
}



body{
    background-color: black;
    background: /*url(images/bg_min.jpg);*/
/*    background-repeat: repeat;*/
    background-size:cover;
    background-attachment: fixed;
    margin:0px;
}

#countdown_container{
    width:68%;
    height:50px;
    margin-left: 16%;
    margin-right:16%;
    position: absolute;
    bottom: 200;
    z-index: 10;
}

#vid{
    position: fixed;
    left:0;
    top:0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    
}

.unit{
    width:14%;
    float:left;
    text-align: right;
    font-family: 'Suranna', serif;
    font-size: 80px;
    font-weight: normal;
    color: #bca67d;
}

.unit p{
    font-family: 'Helvetica';
    font-size: 20px;
    font-weight: 400;
    color: white;
    opacity: .4;
    text-align: left;
    margin-top: 10px;
}

.filler{
    color:transparent;
}
#line1{
    /*First Line Stuff Here*/
}
#line2{
    opacity: 0.6;
}
#bar{
    margin-top: -40px;
}
#days, #minutes, #hours, #seconds{
    opacity: .9;
}

hr{
    background-color: #9f8b66;
    float:left;
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 0px;
    height: 3px;
}

