@font-face {
  font-family: 'Gotham';
  src: url(Gotham_Reg.OTF)
  format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */   
}
@font-face {
  font-family: 'Gotham_Med';
  src: url(Gotham_Med.TTF)
  format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */   
}

@font-face {
  font-family: 'Keep Calm';
  src: url(keep_calm.ttf)
  format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */   
}

@font-face {
font-family: 'Proxima Nova';
src: url("Proxima_Nova_Regular.otf") format("opentype");
}

.grid{
    display: table;
}
#footer_social{
    width: 30%;
}
#copyright{
    float:none;
    font-family: 'Gotham';
    color: white;
    background-color: #555;
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
}


.history_tile video{
    min-width:100%;
    position:absolute;
    left:0;
    top:0;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

/* Sidebar */
#sidebar{
    height:100%;
    width:30%;
    background: #141414;
    position:fixed;
    left: -30%;
    top: 0px;
    z-index: 9999;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
#sidebar h1{
    font-family: 'Gotham';
    text-align: center;
    font-size: 1.5em;
    color: #333333;
    margin-top: 2.5vh;
}
#sidebar ul{
    width:100%;
    list-style: none;
    padding-left:0px;
}
#sidebar li{
    text-align: center;
    font-family: 'Gotham';
    padding: 20px 0px;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    
    cursor:pointer;
}
#sidebar a{
    width:100%;
    color: white;
    padding: 20px 34%;
    text-decoration: none;
}
#sidebar .active{
    background-color:#9f8b66;
}
#sidebar li:hover{
    background-color:#9f8b66;
}

#sidebar_cover{
    width:100%;
    height:100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 9995;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

#hamburger_icon{
    width:50px;
    height:50px;
    position:fixed;
    right:30px;
    top:30px;
    background-image: url(images/hamburger.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99;
    visibility: hidden;
}


/* Button */
.button{
    border-radius: 0px;
    background:transparent;
    font-size: 1vw;
    font-family: 'Gotham';
    border: solid 1px #c1c1c1;
    padding:8px 25px;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    color: #c3c1c1;
    text-decoration: none;
    margin-top: 10px;
}

.button:hover{
    background: #9f8b66;
    border: solid 1px #9f8b66;
    color: #fff;
}

/*Tile Styling*/
.tile{
    position:relative;
    background-color: #141414;
    width:100%;
    height:35vh;
    margin:0px;
    left:0;
}

.tile_content{ /*Let's center the text in each tile */
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    padding-right:5vw;
    padding-left:5vw;
}

.tile img{
    height:100%;
    -webkit-filter: brightness(50%) grayscale(100%);
    filter: brightness(100%) grayscale(100%);
}

.tile h1{
    font-family: 'Gotham';
    font-size: 2.2vw;
    color: #9f8b66;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
}

.tile p{
    width: 55%;
    font-size: 1.2vw;
    font-family: 'Gotham';
    color: #d1d1d1;
}

.tile:nth-child(even) img{
    -webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
    float:right;
    position:absolute;
    right:0;
}

.tile:nth-child(odd) img{
    -webkit-clip-path: polygon(0% 0, 45% 0, 100% 100%, 0% 100%);
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
    float:left;
    position:absolute;
    left:0;
}

.tile:nth-child(even) h1{
    float:left;
}

.tile:nth-child(even) p{
    float:left;
    margin-right: 55%;
}

.tile:nth-child(even) .button{
    float:left;
}

.tile:nth-child(odd) h1{
    float:right;
    text-align: right;
}

.tile:nth-child(odd) p{
    float:right;
    margin-left: 55%;
    text-align: right;
}

.tile:nth-child(odd) .button{
    float:right;
}

/* Specific Tile Styles */

#the_charity a:not(.button){
    -webkit-transition: all 0.3s ease; /* Safari */
    transition: all 0.3s ease;
    color: #c9b184;
    text-decoration: none;
}

#the_charity a:not(.button):hover{
    color: #f2d9ab;
}

/* History Styling */
.history_tile{
    position: relative;
    text-align: center;
    font-family: 'Gotham';
    padding: 30px 0px;
    width:100%;
    height:30vw;
    color:white;
    background-color: #141414;
    background-image: url(images/bg_min_blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    transition: all .3s ease;
/*    -webkit-filter: brightness(50%) blur(4px);*/
}
.history_tile:hover{
    background-size: 105% 105%;
}
.history_tile h1{
    font-family: 'Gotham_Med';
    font-weight: 800;
    margin: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.history_tile h4{
    margin: 0px;
}
.history_tile #content{
    position:absolute;
    top:50%;
    width:100%;
    transform:translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    padding: 10px 0px;
    z-index: 10;
}

#tint{
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    opacity:0.4;
    z-index:9;
}

/* Board Tiles */
#board_grid{
    position:absolute;
    width:90%;
    margin-left:3%;
    margin-top:-15%;
    padding-bottom:5%
}
.board_tile{
    width:17%;
    margin-left:3%;
    margin-top:3vw;
    float:left;
    position:relative;
}
.board_tile img{
    position: relative;
    width:100%;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    
    z-index: 1;
}

.board_text{
    width:100%;
    height:3.4vw;
    padding: 4px 0px;
    background-color:rgba(144, 122, 83, 0.85);
    color: white;
    font-family: 'Gotham';
    font-size: 0.9vw;
    position:absolute;
    bottom:0;
    text-align:center;
    opacity:1;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    z-index: 999;
}
.board_text h1,h3{
    cursor:default;
}

.board_text h1{
        margin-bottom: 2px;
        font-size: 1vw;
        text-transform: uppercase;
}
.board_text h3{
    margin-top:2px;
    font-size: 0.8vw;
}


/*NavBar Styling*/
#header_wrapper {
    width:100%;
    position:absolute;
    z-index:10;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0)); /* Standard syntax */
    text-transform: uppercase;
}

#header {
    height:3.7%;
    margin:auto;
    margin-top: 50px;
}

#header ul {
    margin:0 auto;
    width:700px;
    padding-top:12px;
    list-style: none;
}

#header li {
    float: left;
}

#header a {
    padding:0 19px;
    text-align:center;
    display:block;
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-family: 'Gotham';
    opacity: 0.7;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

#header .active{
    opacity:1;
    background-color: rgba(0,0,0,0.2);
    padding-top:6px;
    padding-bottom:6px;
    margin-top:-6px;
    font-family: 'Gotham_Med'
}

#header a:hover{
    opacity:1;
}

#header ul li a.logo {
    background: url(images/logo4.png);
    background-repeat:no-repeat;
    background-size: contain;
    height:70px;
    display:block;
    width:70px;
    margin-top:-25px;
    opacity: 1;
}

#charity_header{
    height:50%;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    filter: hue-rotate(50%);
    z-index:0;
}
#charity_header img{
    width: 100%;
}
#cover_ellipse{
    width:100%;
    height:100%;
    background-color: #eee;
    position:absolute;
    -webkit-clip-path: ellipse(100% 70% at 50% 100%);
    clip-path: ellipse(90% 90% at 50% 2%);
    margin-top: 15%;
}

#board_header{
    position:relative;
    z-index:0;
}
#board_header img{
    width: 100%;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
     content: "";
  clear: both;
  display: table;
}
/*End Navbar Stying*/

#cover{
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 100;
    opacity: 1;
}

#darkness{
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 0;
    opacity: 0.8;
}

#logo{
    height: 40vh;
    width:auto;
    margin-top: 20vh;
    opacity: 0.9;
    z-index: 10;
}

body{
    background-color: #141414;
    background-size: cover;
    background-attachment: fixed;
    margin:0px;
    width: 100%;
    overflow-x:hidden;
}

#countdown_container{
    width:68%;
    height:50px;
    margin-left: 16%;
    margin-right:16%;
    position: absolute;
    bottom: 200;
    z-index: 10;
}

#vid{
    position: fixed;
    left:0;
    top:0;
    min-width:100%;
    min-height:100%;
    z-index: -100;
    -webkit-filter: brightness(20%);
    filter: brightness(20%);
}

.unit{
    width:14%;
    float:left;
    text-align: right;
    font-family: 'Suranna', serif;
    font-size: 80px;
    font-weight: normal;
    color: #bca67d;
}

.unit p{
    font-family: 'Gotham';
    font-size: 20px;
    font-weight: 400;
    color: white;
    opacity: .4;
    text-align: left;
    margin-top: 10px;
}

.filler{
    color:transparent;
}
#line1{
    /*First Line Stuff Here*/
}
#line2{
    opacity: 0.6;
}
#bar{
    margin-top: -40px;
}
#days, #minutes, #hours, #seconds{
    opacity: .9;
}

hr{
    background-color: #9f8b66;
    float:left;
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 0px;
    height: 3px;
}

/* Bonus Utility Classes */

.board_hr{
    width:80%;
    margin-left:10%;
    margin-top: 3px;
    margin-bottom: 3px;
    height:1px;
    background-color: black;
    opacity:0.3
}

.center_vertical{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:100%;
}

.zoomimg {
    display: inline-block;
    width: 250px;
    height: 375px;
    padding: 0px 5px 0px 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;
}
.zoomimg:hover {
    cursor: pointer;
    background-size: 150% 150%;
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;2
  background-image: url(images/down_arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.bounce {
  position:absolute;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     { bottom:0; }
}

@media (min-width: 1200px) {
    .tile{
    height:45vh;
    }
}

@media (max-width: 1000px) {
    .tile {
        height:30vh;
    }
}

@media (max-width: 600px) {
    .board_tile{
        width:30%;
    }
}

@media (max-width: 768px){
    #hamburger_icon{
        visibility: visible;
    }
    #header{
        visibility: hidden;
    }
}

@media (max-width: 660px){
    .unit{
        font-size: 40px;
    }
    #bar{
        margin-top: -20px;
    }
    .unit p{
        font-size:10px;
    }
    #countdown_container{
        bottom: 80px;
    }
    #logo{
        height: 50vw;
    }
}

#board_header h1 {
    color:white;
    position:absolute;
    bottom:25%;
    width:100%;
    text-align: center;
    font-family: 'Gotham'
}
#footer {
    width:100%;
    height:20%;
}

#footer img {
    width:14%;
    margin-left:47%;
    margin-top:2%;
}

#footer a {
    height:100%;
    width:60%;
    float:left;
}

#social_bar {
    height:50px;
}

#footer_logo {
    width:14%;
    margin-left:43%;
    margin-top:2%;
}

.footer_grid {
    display:table;
    margin-top:3%;
    margin-bottom:1%;
}

@import url('http://weloveiconfonts.com/api/?family=entypo');
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141414;
}

.wrapper {
    margin-top:2%;
  text-align: center;
}

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  padding:9px;
  line-height: 50px;
  font-size: 28px;
  text-align: center;
  color: #555;
  border-radius: 100px;
    border: solid 1px #eee;
    background-color: #eee;
  overflow: hidden;
  cursor: pointer;
}

/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.snapchat span {
	background-color: #fffc01;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-snapchat {
	color: #fffc01;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-snapchat {
	color: white;
}
.social_img:hover {
    -webkit-filter: brightness(10000%) grayscale(100%);
    z-index: 99999;
}

#snapcode {
    width:30vw;
    height:30vw;
}

#snapcode_container {
    position: fixed;
    z-index:99999;
    top:100%;
    left:50%;
    transform:translateX(-50%);
    
    color:white;
    text-align: center;
    font-family: 'Gotham';
    
    -webkit-transition: all 0.6s;
	   -moz-transition: all 0.6s;
	     -o-transition: all 0.6s;
	        transition: all 0.6s;
}

#snapcode_cover {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color: black;
    opacity:0;
    z-index:9998;
    visibility: hidden;
    
    -webkit-transition: all 0.6s;
	   -moz-transition: all 0.6s;
	     -o-transition: all 0.6s;
	        transition: all 0.6s;
}
