@font-face {
  font-family: 'Keep Calm';
  src: url(keep_calm.ttf)
  format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */   
}

#cover{
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 9999;
    opacity: 1;
}

#darkness{
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: -10;
    opacity: 0.8;
    z-index: 0;
}

#logo{
    height: 50%;
    width: 50%;
    padding-top: 10%;
    opacity: 0.9;
    z-index: 10;
}

body{
    background-color: black;
    background: url(images/bg_min.jpg);*/
    background-repeat: r;
    background-size:cover;
    background-attachment: fixed;
}

#countdown_container{
    width:68%;
    height:50px;
    margin-left: 16%;
    margin-right:16%;
    position: absolute;
    bottom: 200;
    z-index: 10;
}

#vid{
    position: fixed;
    left:0;
    top:0;
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
    
}

.unit{
    width:14%;
    float:left;
    text-align: right;
    font-family: 'Suranna', serif;
    font-size: 80px;
    font-weight: normal;
    color: #bca67d;
}

.unit p{
    font-family: 'Helvetica';
    font-size: 20px;
    font-weight: 400;
    color: white;
    opacity: .4;
    text-align: left;
    margin-top: 10px;
}

.filler{
    color:transparent;
}
#line1{
    /*First Line Stuff Here*/
}
#line2{
    opacity: 0.6;
}
#bar{
    margin-top: -40px;
}
#days, #minutes, #hours, #seconds{
    opacity: .9;
}

hr{
    background-color: #9f8b66;
    float:left;
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 0px;
    height: 3px;
}